.container {
  margin-top: 100px;
}

.heading {
  margin-bottom: 35px;
}

.body {
  background-color: #fcfcfc;
}

.sidebar {
  position: fixed;
  z-index: 99;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  height: 100%;
  padding: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #fffcf7;
}

.avatar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100%;
}

.avatarphoto {
  width: 150%;
  max-width: 150%;
}

.socialblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.socialbutton {
  width: 25px;
  height: 25px;
  margin-right: 20px;
  opacity: 0.6;
  -webkit-transition: all 125ms cubic-bezier(.47, 0, .745, .715);
  transition: all 125ms cubic-bezier(.47, 0, .745, .715);
  cursor: pointer;
}

.socialbutton:hover {
  opacity: 1;
}

.socialicon {
  width: 25px;
  height: 25px;
}

.portfoliowrapper {
  width: 75%;
  margin-left: auto;
  padding: 50px;
}

.reposwrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 85vh;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.repo {
  width: 46%;
  min-height: 200px;
  margin-top: 20px;
  margin-bottom: 45px;
  padding: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: #333;
  border-radius: 6px;
  background-color: #fffcf7;
}

.underline {
  width: 100%;
  height: 1px;
  background-color: #444;
  opacity: 0.3;
}

.underline.short {
  width: 50%;
  margin-right: 15px;
}

.repotitle {
  display: block;
  margin-bottom: 15px;
  font-family: Volkhov, sans-serif;
  color: #164cff;
  font-size: 18px;
  font-weight: 700;
}

.repodesc {
  font-family: 'Source Code Pro', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.h4 {
  font-family: Volkhov, sans-serif;
  color: #000;
}

.h2 {
  margin-top: 0px;
  font-family: 'Source Code Pro', sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
}

.h1 {
  margin-bottom: 10px;
  font-family: Volkhov, sans-serif;
  color: #000;
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
}

.subheading {
  margin-top: 20px;
  font-family: 'Source Code Pro', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.footertext {
  font-family: 'Source Code Pro', sans-serif;
  color: grey;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

.link {
  -webkit-transition: all 125ms cubic-bezier(.55, .085, .68, .53);
  transition: all 125ms cubic-bezier(.55, .085, .68, .53);
  color: grey;
}

.link:hover {
  color: #164cff;
}

@media screen and (max-width: 991px) {
  .sidebar {
    position: static;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    width: 100%;
    height: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .avatar {
    margin-bottom: 10px;
  }
  .socialblock {
    margin-top: 20px;
  }
  .profile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .portfoliowrapper {
    width: 100%;
  }
  .underline.short {
    display: none;
  }
  .h2 {
    margin-top: 5px;
    text-align: center;
  }
  .h1 {
    margin-bottom: 4px;
    text-align: center;
  }
  .subheading {
    margin-top: 25px;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .sidebar {
    padding: 30px;
  }
  .portfoliowrapper {
    padding: 30px;
  }
  .repo {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .sidebar {
    padding: 20px;
  }
  .portfoliowrapper {
    padding: 20px;
  }
}

